* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    font-family: "Space_BT";
}

/* .header{
    background: #E1E1E1;

} */
.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.nav__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
}



.nav__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    transition: 0.5s;
    animation: XY 2s linear alternate infinite;
}

@keyframes XY {
    100% {
        transform: rotateY(360deg);
    }

}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    color: rgb(20, 170, 255);
    font-weight: 700;
    font-size: 25px;

}

.nav__link:last-of-type {
    margin-right: 30px;
}

.link {
    display: flex;
    justify-content: center;

}

.intro__item {
    display: flex;
    justify-content: center;

}

.list {
    color: black;
}

.icon {
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    color: rgb(228, 36, 186);
}

.link:nth-of-type(2) .icon {
    color: red;
}

.link:nth-of-type(3) .icon {
    color: rgb(20, 184, 212)
}

.img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 20px;
}

.img:hover {
    background: #E1E1E1;
    box-shadow: 3px 1px 20px 8px #c2c2c2;

}


.image {
    width: 200px;
    margin-right: 10px; 
}
.icon__link{
    display: flex;
    justify-content: center;
}

.main__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}